*{
    box-sizing: border-box;
}

body{
    background-color: rgb(24, 24, 24);
    color: #fff;
}

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 400px;
}

